%center {
  margin: 0 auto;
}
%flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

%burger-line{
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: $color-burger;
}

%h3{
  @include h3;
}
%h4{
  @include h4;
}

%button-slider{
  color: rgb(155, 175, 83);
  font-size: 80px;
}